header{
	height: 80px;
	border: 1px solid black;
	padding-top: 15px;
	background-color: purple;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: purple;
}
li{
	display: inline;
	float: right;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 16px 12px;
	text-decoration: none;
	font-size: 20px;                                                                                                                                                                                                                                                                                                                    
}
li a:hover:not(.active){
	background-color: #68B95E;
}
li a.active{
	columns: yellow;
	background-color: purple;
}
.andy:after{
	display: block;
	clear: both;
	visibility: hidden;
	content: "";
}
.andy{
	
	width: 100%;
}

.andy article,.andy section{
	text-align: center;
	height: 400px;
	box-sizing: border-box;
	padding: 30px;
}
.andy article{
	background-color: yellow;
	width: 30%;
	float: left;
}	

.andy section{
	background-color: green;
	width: 70%;
	float: right;
}
.mande{
	background-color: silver;
	text-align: center;
	padding: 30px;
}
